ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/****** Header ******/

.bg-light {
    background-color: #2c3e50 !important;
}

nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}
nav .navbar-brand .red {
    color: #ea433b;
}
nav .navbar-brand .yellow {
    color: #f5b82e;
}
nav .navbar-brand .green {
    color: #2e944b;
}
nav .navbar-brand .orange {
    color: #FFA500;
}
nav .navbar-brand .white {
    color: #FFFFFF;
}

.navbar .nav-link {
    color: #fff !important;
}

.navbar .nav-link:hover {
    color: #E74C3C !important;
}

/***** Main area ******/

main .form-control {

    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main {

    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img 
{
    /* constrain images on small screens */
    max-width: 100%;
}

#login-area {
    text-align: left !important;
}

.error-message {
    font-size: 15px;
    color: red;
}

#registration-area .form-control {
    width: 300px;
}

/*Column header of index page table for smaller screens*/
.col_prefix {
    display: none;
}

/*current cash overview for smaller screens*/
#cash_small {
    display: none;
}

/*Forgot password anchor*/
#forget-password {
    display: block;
    margin: 10px 0;
}

/*Remove nav border of homepage*/
.border {
    border: 0 !important;
}

#faq-area {
    text-align: left !important;
}

/*Error page*/
.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}

.error-actions i {
    margin-right: 8px;
}

.error-actions .btn {
    margin-right:10px;
}

/*Reset password*/
#reset_area .form-control {
    width: 250px;
}

/*Update password page*/
#update_password_area input[type="text"] {
    display: none;
}

/*Responsive Portfolio Table*/

@media all and (max-width: 900px) {

    .p-5 {
        padding: 1rem !important;
    }

    .w-75 {
        width: 100% !important;
    }
}


@media all and (max-width: 650px) {

    #login-faq {
        display: none;
    }

    #login-area {
        text-align: center !important;
    }

    .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    thead {
        display: none;
    }

    tr {
        border-bottom: 20px solid #375a7f;
    }

    td {
        display: block;
        widows: 100%;
        text-align: left;
    }

    .col_prefix {
        float: left;
        display: block;
    }

    #cash {
        display: none;
    }

    #bottom_row {
        display: none;
    }

    #reg_form {
        margin-left: 0;
    }        
}

@media all and (max-width: 460px) {
    
    .error-actions a {
        margin-bottom: 10px !important;
    }

    .error-template {
        padding: 0;
    }
    
    .btn-lg, .btn-group-lg > .btn {
        margin-bottom: 15px;
    }
}
