{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div id="faq-area">
        <h1>What is Finance?</h1>
        <p class="lead">Its a web application where you can check, buy, & sell shares of stokcs listed in IEX.</p>

        <h3>IEX? What's that?</h3>
        <p class="lead">Its a stock exchange based in the United States. This is a fair, simple and transparent stock exchange dedicated to investor and issuer protection. Learn <a href="https://iextrading.com/">more</a>.</p>

        <h3>Want to know more?</h3>
        <p class="lead">Please register and enjoy.</p>
    </div>

{% endblock %}
