{% extends "layout.jinja2" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div class="row" id="login-area">
        <div class="col-sm-7" id="login-faq">
            <h1>What is Finance?</h1>
            <p class="lead">Its a web application where you can check, buy, & sell shares of stokcs listed in IEX.</p>
            
            <h3>IEX? What's that?</h3>
            <p class="lead">Its a stock exchange based in the United States. This is a fair, simple and transparent stock exchange dedicated to investor and issuer protection. Learn <a href="https://iextrading.com/">more</a>.</p>

            <h3>Want to know more?</h3>
            <p class="lead">Please <a href="/register">register</a> and enjoy.</p>
        </div>

        <!-- Login form -->
        <div class="col-sm-5" id="login_form">
            
            <form action="{{ url_for('.home') }}" method="POST">
                {{ form.csrf_token }}

                <!-- Error Message -->
                
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}

                <!-- Email -->

                <div class="form-group">
                    {{ form.email(placeholder="Email", class="form-control") }}
                    {% if form.email.errors %}
                    <ul>
                        {% for error in form.email.errors %}
                            <li><span class="error-message">{{ error }}</span></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!-- Password -->


                <div class="form-group">
                    {{ form.password(placeholder="Password", class="form-control") }}
                    {% if form.password.errors %}
                    <ul>
                        {% for error in form.password.errors %}
                            <li><span class="error-message">{{ error }}</span></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <!-- Submit -->

                {{ form.submit(class="btn btn-primary") }}
            </form>

            <a href="{{ url_for('.password_reset') }}" id="forget-password">Forgot Password?</a>
            <p class="lead">New to Finance? <a href="{{ url_for('.signup') }}">Join Now!</a></p>
        </div>
    </div>
    
{% endblock %}
