{% extends "layout.jinja2" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div id="resend-area">
    <h1>We just emailed you a link</h1>
    <p class="lead">Please check your email and click the secure link.</p>
</div>
    
{% endblock %}
