{% extends "layout.jinja2" %}

{% block title %}
    Update Password
{% endblock %}

{% block main %}

<div id="update_password_area">
    <h1>Update Password</h1>
    <form action="{{ url_for('.update_password') }}" method="POST">
        {{ form.csrf_token }}
        <!-- Hidden email field -->
        <div class="form-group">
            {{ form.email(class="form-control", value=email) }}
        </div>
        <div class="form-group">
            {{ form.password(class="form-control w-25", placeholder="New password", autocomplete="off") }}
            {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                    <li><span class="error-message">{{ error }}</span></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirm_password(class="form-control w-25", placeholder="Confirm password", autocomplete="off") }}
            {% if form.confirm_password.errors %}
            <ul>
                {% for error in form.confirm_password.errors %}
                    <li><span class="error-message">{{ error }}</span></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
    
{% endblock %}
